
/* 中心布局表格  */
#container {
	margin: auto;
	width: 1000px;
	height: 550px;
	border: 1px solid #6188AE;
	border-radius: 6px;
	background-color: #6188AE;
}

#logo1 {
	width: 80px;
	height: 80px;
	background-image: url("../imgs/logo1.jpg");
	margin: auto; /* 居中显示  */
	margin-top: 10px; /* 上边距   */
	background-size: 250px 250px;
	background-position: -85px -80px;
	border-radius: 60px; /*  圆角向内缩进多少px    */
	box-shadow: 0px 0px 16px #ffffff inset
}
/* 左侧工具栏 */
.lift {
	width: 140px;
	background-color: #6188AE;
	text-align: center; /* 水平居中对齐  */
	vertical-align: top; /* 垂直向上对齐 */
	background-size: 100px;
	box-shadow: 0px 0px 16px #ffffff inset; /* 这个是发光效果  */
	border-radius: 0px 60px 0px 0px;
	box-shadow: 1px -2px 6px black;
}
/* 左侧工具栏按钮区 */
.menu {
	width: 100px;
	background-color: #ffffff;
	margin: auto;
	margin-top: 20px;
	border: 2px solid #ffffff;
	border-radius: 9px;
}
/* 左侧按钮区  选项按钮 */
.menu .menu_head {
	background-color: #6188AE;
	color: #ffffff;
	line-height: 20px; /* 行高  */
	font-size: 14px;
	border-radius: 9px 9px 0 0; /* 圆角 顺时针转 从左上角 开始 然后右上角  */
}
/* 选项按钮 */
.menu button {
	background-color: transparent;
	border: 0px;
	width: 90%;
	border-bottom: 1px #6188AE solid;
	line-height: 35px;
	max-height: 40px;
	font-size: 10px;
	font-family:黑体;
}
/* 光标浮动 */
.menu button:HOVER {
 color:red;
}

td {
	border-radius: 6px;
}
/* 编辑区 */
.menu button div {
	width: 26px;
	height: 26px;
	float: left;
	background-image: url("../imgs/vt1.jpg");
	background-size: 226px 226px;
	background-position: -22px -50px;
}
/* 系统大标题*/
.logotext {
	font-size: 46px;
	color: #ffffff;
	font-family: 黑体;
	text-align: right;
	padding-right: 100px;    /* 右边距  */
}

#border{
	
	background-image:url("../imgs/6.jpg");
}